        <p class="text-center">
            <a href="https://afs.guiderdresolution.com">Australian Financial Services Complaints Portal</a>
            -
            <a href="https://guiderdresolution.com">powered by Guided Resolution</a>
        </p>
    </div>
</div>
